.activityDateCard {
    border: 1px solid;
    border-radius: 8px;
    margin-inline-end: 1em;
    background-color: white;
    
    header {
        padding: 0.3em 0;
        border-bottom: 1px solid;
        text-align: center;
        font-size: 1.1em;
        background-color: #EEEDFF;
        border-radius: 7px 7px 0 0;

        .day {
            font-weight: bold;
        }
    }

    section {
        position: relative;
        padding: .3em 1.6em;

        .service {
            position: absolute;
            left: 0;
            top: 0;
            padding: 0.4em 0.3em;
            border-right: 1px solid;
            border-bottom: 1px solid;
            font-size: 0.8em;
        }
    }

    p {
        margin: 0;
    }

    .date {
        display: flex;
        margin: 0.5em 0;
        padding: 0;
        flex-flow: column;
        text-align: center;
        list-style-type: none;

        .d {
            font-weight: bold;
            font-size: 2.7em;
            line-height: 1em;
        }  
        .y {
            margin-top: -0.3em;
        }
        .m {
            font-size: 1.2em;
          }
    }

    button {
        margin-bottom: .8em;
    }

    .processBtn {
        padding-left: 17px;
        padding-right: 17px;

        &:hover {
            background-color: #C8E6C9;
        }
    }
    
    .dataEntryBtn {
        &:hover {
            background-color: #AEDDFF;
        }
    }
}

.service {
    &.GH {
        background-color: lightsalmon;
    }
    &.DD {
        background-color: lightcoral;
    }
}

