.imageUploadInput {
    margin-bottom: 10px;
}

.imageUploadInput input[type=file] {
    opacity: 0;
    font-size: 0.1em;
    margin-left: -100px;
}

.imageUploadInput .button, button {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #121212;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    padding: 12px 15px;
}

.imageUploadInput label {
    background-color: #EEEDFF;
}

.imageUploadInput label:hover {
    background-color: #C8E6C9;
}

.imageUploadInput pre {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: #757575;
}

.serviceInput label {
    display: inline-block;
    margin-top: 3px;
    padding: 0.3em 0.4em 0.2em;
    line-height: 1.4em;
    border: 1px solid #121212;
    background-color: #EEEDFF;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.serviceInput label:hover {
    background-color: #C8E6C9;
}

.serviceInput label:not(:last-of-type) {
    border-right: none;
}

.serviceInput label:first-of-type {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.serviceInput label:last-of-type {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.serviceInput label.selected {
    background-color: #C8E6C9;
}

.serviceInput label svg {
    padding-right: .2em;
}

.serviceInput input[type=radio] {
    opacity: 0;
    margin-left: -100px;
}

input[type=date] {
    font-size: 0.8em;
}

button[type=submit] {
    background-color: #AEDDFF;
    margin-top: 1.2em;
}

button[type=submit]:hover {
    background-color: #C8E6C9;
}