.imagePreview {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: 5px solid rgba(117, 117, 117, 0);
    line-height: 0;
    margin-right: 15px;
}

.imagePreview:hover, .imagePreview.inputTime {
    border-color: rgba(117, 117, 117, 1);
}

.imagePreview::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.imagePreview:hover::after, .imagePreview.inputTime::after {
    background-color: rgba(117, 117, 117, .6);
}

img {
    height: 500px;
}

.previewWrapper {
    position: absolute;
    display: none;
    width: 85%;
    text-align: center;
    z-index: 10;
}

.previewWrapper.buttons, .previewWrapper.timeBlock {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.previewWrapper.fileData {
    bottom: 0%;
    width: 100%;
    background-color: #ffffff;
}

.fileData {
   font-size: .65em; 
}

.imagePreview:hover .buttons, .imagePreview:hover .fileData {
    display: block;
}

.imagePreview.inputTime:hover .buttons {
    display: none;
}

.imagePreview.inputTime .timeBlock {
    display: block;
}

button {
    margin-top: 5px;
}

button.remove {
    background-color: #ff8383;
    color: #ffffff;
    border-color:  #ffffff;
}

button.addTime {
    display: inline-block;
    background-color: #c8e6c9;
}

input.imageTime {
    font-size: .8em;
}



